version: '3.8'

services:
  blockchain-node:
    build: .
    ports:
      - "8545:8545"
      - "3000:3000"
    volumes:
      - ./:/app
    command: npm run node

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - blockchain-node